.accordion {
   border: 1px solid #ddd;
   border-radius: 10px;
   margin-bottom: 20px;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.accordion-item {
   border-bottom: 1px solid #ddd;
   transition: background-color 0.3s ease;
}

.accordion-header {
   background-color: #f7f7f7;
   padding: 20px;
   width: 100%;
   text-align: left;
   cursor: pointer;
   font-size: 8px;
   font-weight: bold;
   color: #333;
   display: flex;
   justify-content: space-between;
   align-items: center;
   transition: background-color 0.3s ease, color 0.3s ease;
}

.accordion-header:hover {
   background-color: #e0e0e0;
   color: #007bff;
}

.accordion-header::after {
   content: '\25BC'; /* Down arrow */
   font-size: 16px;
   margin-left: 10px;
   transition: transform 0.3s ease;
}

.accordion-header.active::after {
   transform: rotate(180deg); /* Up arrow */
}

.accordion-content {
   padding: 20px;
   display: none;
   background-color: #fff;
   border-top: 1px solid #ddd;
   transition: max-height 0.3s ease;
}

.accordion-content p {
   margin: 0;
   font-size: 16px;
   line-height: 1.6;
   color: #555;
}

/* Общие стили для секции blogs */
#blogs {
    font-size: 16px;
    line-height: 1.6;
}

/* Стили для планшетов */
@media ((min-width:768px)&&(max-width: 1300px)) {
    .flex-container {
        display: flex;
        flex-wrap: wrap;
        overflow: auto;
    }

    .flex-item {
        flex: 1 1 auto;
        min-width: 150px;
        max-width: 300px;
        margin: 10px;
        box-sizing: border-box;
    }
}

   .accordion-header {
        padding: 8px;
		height:auto;
    }

    .accordion-content{
        padding: 8px;
	}
}

/* Стили для телефонов */
@media (max-width: 300px) {
    #blogs {
        padding: 10px;
        font-size: 15px;
        line-height: 1.4;
		width:100%;
		overflow-x:hidden;
    }

    .accordion-header {
        font-size: 15px;
        padding: 8px;
		height:auto;
    }

    .accordion-content p {
        padding: 15px;
		font-size:15px!important;
    }
}

